{% extends "admin/base.html" %}
{% load static %}

{% block title %}FridgeMonitor Admin{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link href="{% static 'css/custom_admin.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
  <header id="header">
    <div class="container">
      <div id="branding">
        <h1>
          <a href="{% url 'admin:index' %}" class="brand-link">FridgeMonitor Admin</a>
          <a href="{% url 'map' %}" class="btn-nav">🗺 Карта</a>
          <a href="{% url 'analytics' %}" class="btn-nav">📊 Аналитика</a>
        </h1>
      </div>
    </div>
  </header>
{% endblock %}

{% block nav-global %}{% endblock %}
